.container{
    display: flex;
    justify-content: center;
}
.contend{
    position: relative;
    background-color: aqua;
}
.img{
margin: 10px,none;
border-radius: 50%;
}
.name{
    position: absolute;
    left: 120px;
    top: 0;
}