.containerT{
    display: flex;
    justify-content: center;
}
.container {
position: absolute;
right:50%;
  }

  @media (max-width: 560px){
    .container{
      position: absolute;
      right:0;
    }
  }
  
  .contend {
    position: relative;
  }

  :root {
    --picture-position: absolute;
    --picture-left: 0;
    --picture-top: 0;
    --picture-width: 50px;
    --picture-height: 50px;
  }
  
  .picture {
    margin: 10px 5px 0 5px;
    border-radius: 50%;
    cursor: pointer;
    position: var(--picture-position);
    left: var(--picture-left);
    top: var(--picture-top);
    width: var(--picture-width);
    height: var(--picture-height);
  }
  
  .name {
    top: 0,none;
    margin-left: 0;
    font-size: 1rem;
    font-weight: bold;
    color: white;
  } 