.container {
    display: flex;
    justify-content: center;
  }
  
  .contend {
    position: absolute;
    right: 0;
  }
  
  .img {
    margin: 10px 5px 0 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .name {
    position: absolute;
    left: 110px;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .show-name {
    opacity: 1;
  }
  