.container{
    display: flex;
    justify-content: center;
}
.contend{
    position: relative;
    background-color: aqua;
}
.img{
margin: 10px;
border-radius: 50%;
}
.name{
    position: absolute;
    right: 100px;
    top: 0;
}