.container{
    display: flex;
    justify-content: center;
}
.contend{
    position: absolute;
    left: 50%;

    background-color: aqua,none;
}
.img{
margin: 10px 5px 0 5px;
border-radius: 50%;
}
.name{
    position: absolute;
    left: 110px;
    top: 0;
}