.contend{
    /* background-image:url(../../image/backgraum-2.webp); */
    background-color: aqua;
    height: 600px;
    margin-left: 10%;
}
.img{
    height: 600px;
    width: 90%;
    border-radius: ;
}