/* .contend{
    background-image:url(../../image/backgraum-2.webp);
    height: 600px;
    margin: 5%;
    border-radius: 30px;
    /* opacity: 0.5; */
} */
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}