.conten{
    display: flex;
}

.login{
    position: absolute;
    left: 10px;
    font-size: 1rem;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 5px #8c4eb6, 0 0 10px #8c4eb6, 0 0 20px #8c4eb6, 0 0 30px #8c4eb6, 0 0 40px #e60073;
 }
 .logaut{
    position: absolute;
    right: 10px;
    font-size: 1rem;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 5px #8c4eb6, 0 0 10px #8c4eb6, 0 0 20px #8c4eb6, 0 0 30px #8c4eb6, 0 0 40px #e60073;
 }