.spinner {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
/* 
.spinning {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
} */
.loader {
    display: flex;
    justify-content: center;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ffbf00;
    border-right: 8px solid #ff0080;
    border-bottom: 8px solid #00bfff;
    border-left: 8px solid #00ff7f;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    20% { border-bottom-color: #ffbf00; }
    40% { border-left-color: #ff0080; }
    60% { border-top-color: #00bfff; }
    80% { border-right-color: #00ff7f; }
    100% { 
      transform: rotate(360deg); /* Establece la posición final del loader */
      border-top-color: #ff69b4; /* Establece el color del borde superior al final de la animación */
    }
  }
  